/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*------------My Styles---------------*/

body {
	background-color: #f2f2f2;
	font: 17px Lato, sans-serif;
	color: #666d89;
}
body *::selection {
  background: rgba(255,251,102, 0.8);
  color: rgb(19,188,188);
}
a {
	color: #ffffff;
	text-decoration: none;
}
a:hover {
	color: #eb5055;
	transition: color 0.5s;
}
input[type="text"], input[type="email"] {
	background-color: #ca4549;
	height: 35px;
	width: 620px;
	color: #efc9cb;
	padding: 0 10px;
	margin: 15px 10px 0px 0px;
	border: none;
	border-radius: 5px;
	outline: none;
}
textarea {
	width: 620px;
	height: 200px;
	background-color: #ca4549;
	color: #efc9cb;
	margin: 15px 10px 0 0px;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	resize: none;
	padding: 10px 10px;
	outline: none;
}


::-webkit-input-placeholder {color:#f48c8f;}
::-moz-placeholder          {color:#f48c8f;}/* Firefox 19+ */
:-moz-placeholder           {color:#f48c8f;}/* Firefox 18- */
:-ms-input-placeholder      {color:#f48c8f;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.buttons {
	display: inline-block;
	color: #6e7694;
	margin: 25px 10px 25px 0;
	border: 1px solid #6e7694;
	text-align: center;
	padding: 7px;
	font: 500 12px / 12px Lato;
	border-radius: 5px;
}
.buttons:hover {
	color: #dedede;
	border-color: #dedede;
	transition: color 0.5s;
}
.wrapper {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

/*----------------------HEAD----------------------*/

header {
	position: fixed;
	width: 100%;
	background-color: #303441;
	border-bottom: 10px solid #373b4a;
	z-index: 1;
}
	header .wrapper .head {
		padding: 35px 0 35px 0;
		font: 700 22px / 4.56px Lato;
		color: #ffffff;
}
		header .wrapper .head h1 span {
			color: #ee5052;
}

		header .wrapper .head ul {
			float: right;
			margin-top: -5px;
}
		header .wrapper .head ul li{
			display: inline-block;
			margin: 0 20px 0 0;
			font: 300 13px / 13px Lato;
}

/*-----------------FIRST BLOCK--------------------*/

.first-block {
	padding: 80px 0 0 0;
	background-color: #eb5055;
	border-bottom: 10px solid #ea676b;
	height: 600px;
}
.iphone {
	position: absolute;
	width: 458px;
	height: 215px;
	background-color: #f2f2f2;
	border-radius: 25px;
	top: 170px;
	left: 390px;
}
	.iphone .screen {
		display: inline-block;
		width: 333px;
		height: 188px;
		background-color: #000;
		background: url(../images/photo-from-iphone1.png);
		margin: 10px 5px;
		border-radius: 5px;
		border: 4px solid #c9cac9;
}
	.iphone .home-btn {
		display: inline-block;
		width: 43px;
		height: 43px;
		border-radius: 50%;
		background-color: #fafafa;
		margin: 0 0 85px 5px;
}
		.iphone .home-btn .square {
			width: 12px;
			height: 12px;
			margin: 13px 0 0 13px;
			border-radius: 2px;
			border: 2px solid #bababa;
}
	.iphone .speeker {
		display: inline-block;
		height: 36px;
		width: 5px;
		background: #acacac;
		border-radius: 2px;
		margin: 0 0 85px 10px;
}
	.iphone .cam {
		display: inline-block;
		position: relative;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #d8d8d8;
		margin: 0 0 100px 5px;
}
		.iphone .cam span {
			position: absolute;
			display: inline-block;
			background: #eb5055;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			top: 2px;
			left: 2px;
}
.iphone2 {
	position: absolute;
	width: 215px;
	height: 458px;
	background-color: #f2f2f2;
	border-radius: 25px;
	top: 55px;
	left: 85px;
}
	.iphone2 .screen {
		display: inline-block;
		width: 188px;
		height: 333px;
		background-color: #000;
		background: url(../images/photo-from-iphone2.png);
		margin: 10px 0 0 10px;
		border-radius: 5px;
		border: 4px solid #c9cac9;
}	
	.iphone2 .home-btn {
		display: inline-block;
		width: 43px;
		height: 43px;
		border-radius: 50%;
		background-color: #fafafa;
		margin: 5px 0 0 85px;
}
		.iphone2 .home-btn .square {
			width: 12px;
			height: 12px;
			margin: 13px 0 0 13px;
			border-radius: 2px;
			border: 2px solid #bababa;
}
	.iphone2 .speeker {
		display: inline-block;
		height: 5px;
		width: 36px;
		background: #acacac;
		border-radius: 2px;
		margin: 10px 0 0 85px;
}
	.iphone2 .cam {
		display: block;
		position: relative;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #d8d8d8;
		margin: 15px 0 0 98px;
}
		.iphone2 .cam span {
			position: absolute;
			display: inline-block;
			background: #eb5055;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			top: 2px;
			left: 2px;
}
.iphone, .iphone2 {
	box-shadow: 19px 14px 29px 17px rgba(0,0,0,0.15);
}

.first-block .wrapper .first a:nth-child(1) {
	position: absolute;
	top: 275px;
	opacity: 0.5;
}
	.first-block .wrapper .first a:nth-child(1):hover {
		opacity: 1;
		transition: opacity 0.5s;
}
.first-block .wrapper .first a:last-child {
	position: absolute;
	top: 275px;
	left: 920px;
	opacity: 0.5;
}
	.first-block .wrapper .first a:last-child:hover {
		opacity: 1;
		transition: opacity 0.5s;
}

/*-------------------MAIN INFORMATION------------------------*/

#information {
	padding: 65px 0 0 0 ;
	line-height: 30px;
	border-bottom: 10px solid #ffffff;
	height: 470px;
}
	#information .inform h2 {
		font: 900 30px / 4.56px Lato;
		margin: 0 0 35px 0;
}
	#information .inform h2 + p {
		margin: 0 0 55px 0;
}
	.inform ul {
		float: left;
		margin-left: -15px;
}
		.inform ul li {
			display: inline-block;
			width: 220px;
			margin: 0 0 0 90px;
}
		.inform ul li h3 {
			font: 600 20px / 40px Lato;
}
		.inform ul li h3 + p {
			text-align: justify;
			font: 500 12px / 23px Lato;
}
			.image-list1 {
				position: absolute;
				top: 185px;
				left: -60px;
			}
			.image-list1 li {
				display: inline-block;
				position: relative;
			}
			.image-list2 {
				position: absolute;
				top: 326px;
				left: -60px;
			}
			.image-list2 li {
				display: inline-block;
				position: relative;
			}
		.circle {
			position: absolute;
			width: 60px;
			height: 60px;
			border: 2px solid #666d89;
			border-radius: 50%;
			top: -16px;
			margin-left: -16px;
		}
			.image-list1 li:nth-child(2) div, .image-list2 li:nth-child(1) div {
				margin-left: -20px;
			}

/*--------------------------------------
--------------PORTFOLIO-------------
---------------------------------------*/

#portfolio {
	background-color: #303441;
	padding: 65px 0 65px 0;
	border-bottom: 10px solid #373b4a;
}
.portfolio h3 {
	font: 500 30px / 30px Lato;
	margin: 0 0 20px 0;
}

.photo img {
	margin: 10px 10px 0 0;
}

/*--------------------------------------
--------------ABOUT US-------------
---------------------------------------*/

#about-us {
	padding: 65px 0 65px 0; 
	border-bottom: 10px solid #fff;
}
.about h2 {
	font: 900 30px / 30px Lato;
	margin: 0 0 25px 0;
}
.about h2 + p {
	line-height: 30px;
	margin: 0 0 55px 0;
}
.creators {
	position: relative;
}
	.about .creators figure {
		display: inline-block;
		position: relative;
}
	.about .creators img {
		width: 285px;
}
	.about .creators h2, .about .creators p {
		display: block;
		width: 285px;
		margin: 0 20px 0 0;
}
	.about .creators h2 {
		font: 600 20px / 40px Lato;
}
	.about .creators p {
		font: 300 15px / 22px Lato;
}
	.about .creators ul {
		float: left;
		margin: 30px 0 0 0;
}
		.about .creators ul li {
			display: inline-block;
			width: 34px;
			height: 35px;
			margin: 0 5px 0 0;
			z-index: 1;
}
			.about .creators ul li a {
				display: inline-block;
				position: relative;
				width: 40px;
				height: 40px;
				z-index: 1;
}
		.about .creators .social {
			position: absolute;
			width: 160px;
			height: 35px;
			top: 425px;
			left: 0px;
}

/*---------------------------
----------CONTACT------------
----------------------------*/

#contact {
	position: relative;
	background-color: #eb5055;
	color: #f0d8d9;
	padding: 65px 0 65px 0;
	border-bottom: 10px solid #ea676b;
}
	.contact h2 {
		font: 900 30px / 30px Lato;
		margin: 0 0 25px 0;
	}
	.contact h2 + p {
		line-height: 30px;
		margin: 0 0 55px 0;
	}
	.contact form {
		display: inline-block;
		width: 640px;
}
.contact span {
	position: absolute;
	display: inline-block;
	width: 310px;
	top: 180px;
	left: 660px;
}
		.contact span h3 {
			display: inline;
			font: 500 16px / 30px Lato;
		}
		.contact span h3 + p {
			text-align: justify;
			font: 500 12px / 20px Lato;
		}
		.contact span ul {
			margin: 30px 0 0 26px;
			font: 500 12px / 20px Lato;
		}
		.contact span img {
			position: absolute;
			top: 137px;
			left: -6px;
		}

/*-------------------------------------
---------------FOOTER------------------
--------------------------------------*/

footer {
	position: relative;
	background-color: #303441;
	padding: 25px 0 25px 0;
}
	.foot h5{
		display: inline;
		font: 500 14px / 14px Lato;
}
.foot img {
	position: absolute;
	top: 0px;
	left: 800px;
	width: 160px;
			height: 35px;
}
.foot ul {
	position: absolute;
	top: 0;
	width: 180px;
	left: 800px;
}
		.foot ul li {
			display: inline-block;
			width: 34px;
			height: 35px;
			margin: 0 5px 0 0;
			z-index: 1;
}
			.foot ul li a {
				display: inline-block;
				position: relative;
				width: 35px;
				height: 35px;
				z-index: 1;
		}